@using AjaxChat.Models
@model ChatModel

<div id="Users">
    <p><b>В чате онлайн: @Model.Users.Count()</b></p>
    @foreach (var user in Model.Users)
    {
        <p>@user.Name</p>
    }
</div>

<div id="Messages">
    @foreach (var msg in Model.Messages)
    {
        <p>
            @msg.Date<br />
            @if (msg.User != null)
            {
                <b>@(msg.User.Name + ":")</b> @msg.Text
            }
            else
            {
                <span class="server mess"></span>
            }
        </p>
    }
</div>
